[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
manage = "python manage.py"
init = "pre-commit install --hook-type commit-msg"
lint = "pre-commit run -a"
tests = "coverage run -m pytest --suppress-no-test-exit-code"
serve = "python manage.py runserver"

[packages]
django = "*"
gunicorn = "*"
asgiref = "*"
cachetools = "==4.2.1"
certifi = "==2020.12.5"
chardet = "==4.0.0"
google-api-core = "==1.26.3"
google-auth = "==1.28.0"
google-cloud-dialogflow = "==2.1.0"
googleapis-common-protos = "==1.53.0"
grpcio = "==1.36.1"
idna = "==2.10"
proto-plus = "==1.18.1"
protobuf = "==3.15.7"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pyparsing = "==2.4.7"
python-dotenv = "==0.17.0"
pytz = "==2021.1"
requests = "*"
rsa = "==4.7.2"
six = "==1.15.0"
sqlparse = "==0.4.1"
urllib3 = "==1.26.4"
gunicorn = "*"
pillow = "*"

[dev-packages]
ipython = "*"
commitizen = "*"
pre-commit = "*"
flake8 = "*"
flake8-bandit = "*"
flake8-broken-line = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-eradicate = "*"
flake8-executable = "*"
flake8-fixme = "*"
flake8-pyi = "*"
flake8-pytest = "*"
flake8-pytest-style = "*"
flake8-mutable = "*"
flake8-string-format = "*"
flake8-todo = "*"
flake8-unused-arguments = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-custom-exit-code = "*"
flake8-django = "*"

[pipenv]
allow_prereleases = true
